
<div class="container mb-5">
    <!-- <app-datepicker></app-datepicker> -->
    <form [formGroup]="userForm">
        <!-- <div class="form-group mb-2">
            <label class="label" for="date">Date</label>
            <input formControlName="date" appDatePicker type="text" id="config-demo" class="form-control" [singleDatePicker]="false" readonly>
            <ng-container *ngIf="userForm.get('date')?.errors && (userForm.get('date')?.touched || userForm.get('date')?.dirty)">
                <ng-container *ngIf="userForm.get('date')?.errors?.['required']">
                    <p class="text-danger">Date is required.</p>
                </ng-container>
            </ng-container>
        </div> -->
        <div class="form-group mb-2">
          <label class="label" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
            <ng-container *ngIf="userForm.get('name')?.errors && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">
                <ng-container *ngIf="userForm.get('name')?.errors?.['required']">
                    <p class="text-danger">Name is required.</p>
                </ng-container>
            </ng-container>
        </div>
        <div class="form-group mb-2">
            <label class="label" for="age">Age</label>
            <input type="number" class="form-control" id="age" placeholder="Enter age" formControlName="age">
            <ng-container *ngIf="userForm.get('age')?.errors && (userForm.get('age')?.touched || userForm.get('age')?.dirty)">
                <ng-container *ngIf="userForm.get('age')?.errors?.['required']">
                    <p class="text-danger">Age is required.</p>
                </ng-container>
            </ng-container>
        </div>
        <div class="d-flex">
            <button [disabled]="!this.userForm.valid" class="btn btn-sm btn-primary mx-2" (click)="onAddUser()">{{this.userForm.get('id')?.value?'Update':'Add'}}</button>
            <button class="btn btn-sm btn-danger" type="reset">Reset</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

    <ng-container *ngIf="loading$ | async; else showUsers">
        <p>Loading</p>
    </ng-container>
    

    
    <ng-template #showUsers>
        <ng-container *ngFor="let user of users$ | async">
                <tr>
                    <th>{{user?.id}}</th>
                    <th>{{user?.name}}</th>
                    <th>{{user?.age}}</th>
                    <th>
                        <button class="btn btn-success btn-sm mx-2" (click)="editUser(user)">Edit</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">Delete</button>
                    </th>
                </tr>
        </ng-container>
    </ng-template>
    </tbody>
</table>

<div class="card">
    <div class="card-body">
        <app-home></app-home>
    </div>
</div>