<div class="container-fluid d-flex">
    <aside class="h-100" style="height: 100vh;">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
        <div class="d-flex">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">{{"menu" | translate}}</span>
          </a>
          <button class="btn btn-success btn-sm" (click)="changeLanguage()">{{this.currentLanguage==='np'?'en':'np'}}</button>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li *ngFor="let item of menuItems" class="nav-item">
            <!-- Use (click) event to handle tab switching -->
            <a [routerLink]="item?.route" class="nav-link link-dark">
              {{ item.title | localLangChange :item.titleNp }}
            </a>
          </li>
        </ul>
      </div>
    </aside>
  
    <main class="p-3 flex-grow-1" style="background-color:#F8F8FF">
      <nb-card>
        <nb-card-body>
          <router-outlet></router-outlet>    
        </nb-card-body>
      </nb-card>
    </main>
  </div>
  